body{
    height: fit-content;
    background-color: beige;
}
.logo img{
    width: 5rem;
}

.tab{
    position: absolute;
    top: 1px;
    right: 1px;
    margin-top: 1rem;
    margin-right: 1rem;
}

.container{
    display: inline-flex;
}